@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

* {
  -webkit-user-drag: none;
  user-select: none;
}

@font-face {
  font-family: "Caveat-Regular";
  src: url("/fonts/Caveat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Caveat-Medium";
  src: url("/fonts/Caveat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Caveat-SemiBold";
  src: url("/fonts/Caveat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Caveat-Bold";
  src: url("/fonts/Caveat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "PatrickHand-Regular";
  src: url("/fonts/PatrickHand-Regular.ttf");
  font-weight: 700;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
em,
b,
i,
li,
a,
label,
input,
textarea,
button,
th,
td,
caption,
blockquote,
pre,
code {
  color: #303133;
}

.secondary-500 {
  color: #303133;
}

body {
  font-family: "Caveat-Regular", sans-serif;
}

strong {
  font-family: "Caveat-Bold", sans-serif;
}

.caveatregular {
  font-family: "Caveat-Regular", sans-serif;
}

.caveatbold {
  font-family: "Caveat-Bold", sans-serif;
}

.patrickhand {
  font-family: "PatrickHand-Regular", sans-serif;
}

img:not([width]):not([height]) {
  width: auto;
  height: auto;
}

body {
  background-color: #f8f8f6;
}

nav#header {
  background-color: #f8f8f6;
  z-index: 10;
}